<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAID-EASE</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>


    <div class="taskbar">
        <a href="/">Home</a>
        <a href="/contactUs">Contact Us</a>
    </div>

    
    <div class="main-content">
        <div class="text-and-buttons">
            <h1>ЁЭЦмЁЭЦаЁЭЦиЁЭЦг-ЁЭЦдЁЭЦаЁЭЦ▓ЁЭЦд</h1>
            <p>Connect! Communicate! Discover!</p>

            <form method="get" action="/userLogin">
                <!-- <button>I am Looking for a Maid (рдореИрдВ рдПрдХ рдиреМрдХрд░рд╛рдиреА рдХреА рддрд▓рд╛рд╢ рдореЗрдВ рд╣реВрдБ)</button> -->
                <button>I am Looking for Maid (рдореБрдЭреЗ рдиреМрдХрд░рд╛рдиреА рдЪрд╛рд╣рд┐рдП)</button>
            </form>

            <form method="get" action="/adminLogin">
                <!-- <button>I am a Maid and I want to get hired (рдореИрдВ рдПрдХ рдиреМрдХрд░рд╛рдиреА рд╣реВрдБ)</button> -->
                <button>I am a Maid (рдореИрдВ рдПрдХ рдиреМрдХрд░рд╛рдиреА рд╣реВрдБ)</button>
            </form>
        </div>
    </div>
    
</body>
</html>

