* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #f0f0f0; /* Light background for contrast */
    background-image: url('../images/image3.jpg');
    background-size: cover; /* Make the background image cover the entire body */
}

.taskbar {
    background: linear-gradient(90deg, #e3e2de, #e3e2de);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.taskbar a {
    color: #404040;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.taskbar a:hover {
    color: #d9b139;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 80px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    gap: 20px; /* Space between cards */
}

.maid-card {
    background: linear-gradient(90deg, #f3bc3c, #eca708); 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px; /* Fixed width for cards */
    text-align: left;
    transition: transform 0.3s ease;
}

.maid-card:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

.contact-button {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #43127f;
}