* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background: #f0f0f0; /* Light background for contrast */
    background-image: url('../images/image3.jpg');
    background-size: cover; /* Make the background image cover the entire body */
}

.taskbar {
    background: linear-gradient(90deg, #e3e2de, #e3e2de);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.taskbar a {
    color: #404040;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.taskbar a:hover {
    color: #d9b139;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 35px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #f1ca56, #e89b0d);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    width: 90%;
    padding: 20px;
    text-align: center;
    height: 430px;
    
}

.info-section {
    margin-bottom: 20px;
}

.form-container {
    width: 100%;
}

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

.input-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    background: white;
}

.submit {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    display: block;
    width: 200px;
    margin-top: 30px;
    margin-left: 75px;
}

.submit:hover {
    background-color: #4a148c;
}